/**/.springBeans.new
/**/.classpath.bak

data/*
log/*
roles/*
temp/*
bin/ext-accelerator/*
bin/ext-addon/*
bin/ext-backoffice/*
bin/ext-channel/*
bin/ext-cockpit/*
bin/ext-commerce/*
bin/ext-content/*
bin/ext-customer-experience/*
bin/ext-data/*
bin/ext-eventtracking/*
bin/ext-integration/*
bin/ext-platform-backoffice/*
bin/ext-platform-optional/*
bin/ext-smartedit/*
bin/ext-supportability/*
bin/ext-template/*
bin/ext-webservices/*
bin/platform/*

/**/addonsrc/*
/**/classes/*
/**/commonwebsrc/*
/**/eclipsebin/*

/**/*_bof.jar
*-testclasses.xml
*.class
/**/build.xml
/**/extensioninfo.xsd
/**/gensrc/*
wro_addons.xml
beans.xsd
items.xsd
platformhome.properties

bin/custom/tyreshopstorefront/web/webroot/**/addons/*
bin/custom/tyreshopwebservices/web/webroot/**/addons/*
